@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 210, 62%, 22%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 30, 36%, 49%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

$randStarty1: random(500);
$randStarty2: random(500);
$randStarty3: random(500);
$randStarty4: random(500);

$randStartx1: random(500);
$randStartx2: random(500);
$randStartx3: random(500);
$randStartx4: random(500);

$randRot1: random(45);
$randRot2: random(45);
$randRot3: random(45);
$randRot4: random(45);

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

@keyframes blob1 {
  0% {
    transform: translate($randStarty2 + px, $randStartx1 + px);
  }
  33% {
    transform: translate($randStartx2 + px, $randStarty3 + px);
  }
  66% {
    transform: translate($randStarty4 + px, $randStartx2 + px);
  }
  100% {
    transform: translate($randStarty2 + px, $randStartx1 + px);
  }
}
@keyframes blob2 {
  0% {
    transform: translate($randStarty1 + px, $randStartx2 + px);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px);
  }
  100% {
    transform: translate($randStarty1 + px, $randStartx2 + px);
  }
}
@keyframes blob3 {
  0% {
    transform: translate($randStarty4 + px, $randStartx3 + px);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px);
  }
  100% {
    transform: translate($randStarty4 + px, $randStartx3 + px);
  }
}
@keyframes blob4 {
  0% {
    transform: translate($randStarty1 + px, $randStartx2 + px);
  }
  33% {
    transform: translate($randStartx2 + px, $randStartx4 + px);
  }
  66% {
    transform: translate($randStartx3 + px, $randStartx2 + px);
  }
  100% {
    transform: translate($randStarty1 + px, $randStartx2 + px);
  }
}

.shape1 {
  animation: blob1 10s infinite;
}

.shape2 {
  animation: blob2 10s infinite;
}
.shape3 {
  animation: blob1 10s infinite;
}
.shape4 {
  animation: blob2 10s infinite;
}

@layer components {
  .custom-button-anim {
    @apply transition-all hover:scale-105 hover:bg-opacity-100 hover:text-blue-900 active:scale-90;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

@font-face {
  font-family: "Bebas Neue"; // Write the name of your custom font.

  // Below you need to give the path of the font, If you have only one format no problem
  // but if you have more then one format, you can add all those, you just need to
  // separate these with commas.
  src: url("../../public/BebasNeue-Regular.ttf") format("ttf");
}

h1 {
  @apply text-xl lg:text-3xl;
}

* {
  @apply text-primary;
}
